absl-py
certifi
click
Flask
gast
google-pasta
grpcio
h5py
idna
itsdangerous
Jinja2
Markdown
ml-dtypes
numpy
opencv-python
opt-einsum
packaging
pandas
protobuf
python-dateutil
pytz
requests
scikit-learn
scipy
six
termcolor
threadpoolctl
tmdbv3api
typing-extensions
urllib3
Werkzeug
wrapt
