<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="icon" type="image/png" href="/static/img/emo.png">

    <title>EmoFlix</title>
</head>
<body>
    <header class="header" id="header" style="display: none;">
        <nav class="nav container">
            <a href="#" class="nav__logo">
                <img src="/static/img/logo.png" id = "logoImg" alt="logo image">
            </a>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item" id="menu1">
                        <a href="#" class="nav__link active-link">
                            <img src="/static/img/emotions.png" alt="Emotion">
                        </a>
                    </li>
            
                    <li class="nav__item" id="menu2">
                        <a href="#toggleBtn" class="nav__link">
                            <img src="/static/img/film.png" alt="Movie">
                        </a>
                    </li>
            
                    <li class="nav__item" id="menu3">
                        <a href="#trailer" class="nav__link">
                            <img src="/static/img/trailer_1.png" alt="Trailer">
                        </a>
                    </li>
                </ul>
            </div>            
        </nav>
    </header>
    <div id="title" style="display: block;">
        <img src="/static/img/logo.png" id="img" alt="EmoFlix Logo">
    </div>
    
    <div class = "emotion" id="emo" >
        <div id="text">
            <p>EmoFlix: Where every emotion has a story, and every story has a movie.</p>
            <p>EmoFlix revolutionizes movie-watching by tailoring recommendations to your emotional state. Using advanced facial recognition, EmoFlix crafts personalized lists, ensuring every film resonates with your mood. Whether you're seeking laughter, tears, or excitement, EmoFlix guarantees a cinematic experience perfectly aligned with your emotions.</p>

            <p>Experience the magic of cinema through EmoFlix's emotional lens. Say farewell to decision fatigue as EmoFlix effortlessly guides you through a sea of movie choices. With uplifting comedies, heartfelt dramas, and adrenaline-pumping thrillers, EmoFlix promises an unforgettable journey driven by your innermost feelings.</p>


            <p>Start the Camera and let your emotions guide you to your next movie.</p>

        </div>
        <div id="videoContainer" style="display: none;">
            <div style="display: flex; justify-content: center; align-items: center; height: 80vh;">
                <img id="videoFeed" src="" alt="Video Feed" style="max-width: 100%; height: auto;">
            </div>
            
            
        </div>
        <div class="start">
            <button id="toggleBtn">Start Camera</button>
        </div>
        
        <button id="snap-btn" style="display: none;">Snap Photo</button>
        <button id="retake-btn" style="display: none;">Retake</button>
        <div id="result" style="display: none;"></div>

    </div>
    <div class="movie" id="mov" style="display: flex; flex-direction: column; align-items: center;">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <button id="recommendBtn" style="display: none;">Get Movie Recommendations</button>
            <button id="closeMovie" style="display: none;">Close</button>
        </div>
        <div id="movieList" style="display: none;"></div>
    </div>
    <div id="popup" class="popup">
                <div class="poster">
                    <img id="moviePoster" src="" alt="Movie Poster">
                </div>
                <div class="info">
                    <h4 id="movieTitle"></h4>
                    <p id="movieOverview"></p>
                    <p id="movieRating"></p>
                    <p id="movieGenres"></p>
                    <p id="movieDuration"></p>
                    <button id="play">Play Trailer</button>
                    <button id="more">More</button>
                    <!-- Add other details here -->
                </div>
                <span class="close" id="closePopup">&times;</span>
    </div>
    <div id="trailer">
        <div id="trailer-container"></div>
        <button id="closeTrailer">&times;</button>
    </div>
    <button id="scrollToTopBtn" onclick="scrollToTop()" style="position: fixed; bottom: 40px; right: 30px; display: block; background: none; border: none; cursor: pointer;">
        <img src="/static/img/top-btn.png" alt="Scroll to top" style="width: 44px; height: 44px; transition: transform 0.7s;">
    </button>
    

    <footer class="footer">
        <div class="footer__container container">
            <a href="#" class="footer__logo">EmoFlix</a>

            <ul class="footer__social">
                <li>
                    <a href="https://www.linkedin.com/in/arya-manikya-sinha-626b801a2" target="_blank" class="footer__social-link">
                        <i class="ri-linkedin-box-fill"></i>
                    </a>
                </li>

                <li>
                    <a href="https://www.instagram.com/_iam_arya_here_/" target="_blank" class="footer__social-link">
                        <i class="ri-instagram-fill"></i>
                    </a>
                </li>

                <li>
                    <a href="https://github.com/arya-2001" target="_blank" class="footer__social-link">
                        <i class="ri-github-fill"></i>
                    </a>
                </li>
            </ul>

            <span class="footer__copy">
                &#169; Copyright Arya M Sinha. All rights reserved
            </span>


        </div>
    </footer>

    <script src="/static/js/script.js"></script>
</body>
</html>
